{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{city.Id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="City">City</label>
            <input id="City" type="text" class="form-control" placeholder="City" name="City" value="{{city.City}}">
        </div>
        <div class="col">
            <label for="State">State</label>
            <input id="State" type="text" class="form-control" placeholder="State"
                   name="State" value="{{city.State}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="LatD">Latitude(Degree)</label>
            <input id="LatD" type="text" class="form-control" placeholder="Degree" name="LatD" value="{{city.LatD}}">
        </div>
        <div class="col">
            <label for="LatM">Latitude(Minutes)</label>
            <input id="LatM" type="text" class="form-control" placeholder="Minutes" name="LatM" value="{{city.LatM}}">
        </div>
        <div class="col">
            <label for="LatS">Latitude(Seconds)</label>
            <input id="LatS" type="text" class="form-control" placeholder="Seconds" name="LatS" value="{{city.LatS}}">
        </div>
        <div class="col">
            <label for="NS">North/South</label>
            <input id="NS" type="text" class="form-control" placeholder="N/S" name="NS" value="{{city.NS}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="LonD">Longitude(Degree)</label>
            <input id="LonD" type="text" class="form-control" placeholder="Degree" name="LonD" value="{{city.LonD}}">
        </div>
        <div class="col">
            <label for="LonM">Longitude(Minutes)</label>
            <input id="LonM" type="text" class="form-control" placeholder="Minutes" name="LonM" value="{{city.LonM}}">
        </div>
        <div class="col">
            <label for="LonS">Longitude(Seconds)</label>
            <input id="LonS" type="text" class="form-control" placeholder="Seconds" name="LonS" value="{{city.LonS}}">
        </div>
        <div class="col">
            <label for="EW">East/West</label>
            <input id="EW" type="text" class="form-control" placeholder="E/W" name="EW" value="{{city.EW}}">
        </div>
    </div>
    <div style="align-content: center">
        <button type="submit" class="btn btn-success">Save</button>
    </div>

</form>
{% endblock %}