{% extends "layout.html" %}
{% block content %}
<form action="/cities/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="City">City</label>
            <input id="City" type="text" class="form-control" placeholder="City" name="City">
        </div>
        <div class="col">
            <label for="State">State</label>
            <input id="State" type="text" class="form-control" placeholder="State" name="State">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="LatD">Latitude(Degree)</label>
            <input id="LatD" type="text" class="form-control" placeholder="Degree" name="LatD">
        </div>
        <div class="col">
            <label for="LatM">Latitude(Minutes)</label>
            <input id="LatM" type="text" class="form-control" placeholder="Minutes" name="LatM">
        </div>
        <div class="col">
            <label for="LatS">Latitude(Seconds)</label>
            <input id="LatS" type="text" class="form-control" placeholder="Seconds" name="LatS">
        </div>
        <div class="col">
            <label for="NS">North/South</label>
            <input id="NS" type="text" class="form-control" placeholder="N/S" name="NS">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="LonD">Longitude(Degree)</label>
            <input id="LonD" type="text" class="form-control" placeholder="Degree" name="LonD">
        </div>
        <div class="col">
            <label for="LonM">Longitude(Minutes)</label>
            <input id="LonM" type="text" class="form-control" placeholder="Minutes" name="LonM">
        </div>
        <div class="col">
            <label for="LonS">Longitude(Seconds)</label>
            <input id="LonS" type="text" class="form-control" placeholder="Seconds" name="LonS">
        </div>
        <div class="col">
            <label for="EW">East/West</label>
            <input id="EW" type="text" class="form-control" placeholder="E/W" name="EW">
        </div>
    </div>
    <div style="align-content: center">
        <button type="submit" class="btn btn-success">Add</button>
    </div>

</form>

{% endblock %}